
<div class="user">
  <div class="col-md-12">
    <md-card class="col-md-4" md-theme="{{'default'}}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <div class="userInfo">
            <span class="md-headline">{{profile.nickname}}</span>
            <span class="md-subhead">{{restaurants.length}} Restaurants Visited</span>
          </div>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img ng-src="{{ profile.picture }}">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="column" layout-align="end center">

        <md-button>Follow+</md-button>
        <md-input-container class="md-icon-float md-block" flex>
          <md-icon><i class="material-icons searchIcon"></i>search</md-icon>
          <input ng-model="searchRestaurant" type="text" placeholder="Search...">
        </md-input-container>

      </md-card-actions>
    </md-card>
  </div>

  <!-- RESTAURANT RENDER -->
  <div class="col-md-6 lgReview" ng-repeat="restaurant in restaurants | filter:searchRestaurant">
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="100" layout="column">
        <md-card md-theme="{{'dark-blue'}}" md-theme-watch>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{restaurant.restaurantName}}</span>
              <span class="md-subhead">{{restaurant.userEmail}}</span>
              <p>{{restaurant.restaurantReview}}</p>
              <div class ="">
                  <ul>
                    <li>Food: {{restaurant.foodRating}}</li>
                    <li>Service: {{restaurant.serviceRating}}</li>
                    <li>Ambience: {{restaurant.ambienceRating}}</li>
                    <li>Price per: {{'$' + restaurant.priceRating}}</li>
                  </ul>
                </div>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-md card-media">
                <!-- NEED FILE UPLOADER WORKING FIRST <img id="restphoto" src={{restaurant.image}} alt=""> -->
                <img src='http://www.fillmurray.com/100/100' alt="">
              </div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button>More Info</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-content>
  </div>
</div>
</div>